.search-form {
  width: 350px;
  height: 45px;
  margin-right: 0;
  margin-left: auto;
  border-radius: 40px;
  box-shadow: $shadow;
  background: #fff;
  transition: all 0.3s ease;
  border: 0.5px solid $light-contrast;

  &.focus {
    box-shadow: $shadow;
  }
  @include breakpoint(medium) {
    width: 100%;
  }
}

.search-input {
  font-size: 14px;
  background: none;
  width: 90%;
  height: 25px;
  border: none;
  appearance: none;
  outline: none;
  padding-left: 1.5em;
}
.input-icon {
  color: $contrast;
  padding: 1em;
  margin-left: -1em;
  &--clear {
    cursor: pointer;
  }
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.message {
  text-align: center;
  margin: 0 auto;
  margin-top: 2.5em;
  padding: 1em;
  color: black;
  &__icon {
    font-size: 70px;
  }
}
