$contrast-font: Garamond, serif;
$primary-font: Helvetica, sans-serif;
$primary-gray: #585052;
$contrast: #edc755;
$medium-contrast: #ecd284;
$light-contrast: #e9d9a8;

$shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
$shadow-entire: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

body {
  font-family: $contrast-font;
  font-size: 15px;
  color: black;
  background-color: white;
  margin: 0;
  width: 100%;
}
* {
  box-sizing: border-box;
}
h1 {
  color: $contrast;
  font-family: $primary-font;
  font-size: 3em;
}
h2 {
  font-family: $primary-font;
}
h3 {
  font-family: $contrast-font;
}
header {
  background-color: $contrast;
  padding: 2.5em;
  text-align: center;
  margin-bottom: 1em;
  & h1,
  h2 {
    color: black;
  }
  & h2 {
    margin-top: -1em;
    font-family: $contrast-font;
  }
}
ul {
  padding: 0;
}
.wrap {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 3em;
}
button {
  background-color: $contrast;
  color: black;
  border: 2px solid transparent;
  border-radius: 12px;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    border: 2px solid $contrast;
    background-color: transparent;
  }
}
